/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  padding-top: 80px;
  background-color: #FAF8F2;
  margin-bottom: 50px;
}

h1 {
	padding-bottom: 30px;
}

.home {
	text-align: center;
}

.home form {
	float: right;
	clear: right;
	margin-right: 100px;
}

.span11 {
	margin-left: 50px;
}

.home .span11 {
	float: left;
}

input[type="number"] {
	height: 65px;
	width: 75px;
	margin: auto 20px;
	font-size: 35px;
	text-align: center;
	padding-left: 0px;
}

.coordinatelabel {
	margin: auto 52px;
	font-size: 18px;
	margin-top: 10px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color: White;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 15px;
    margin-left: -14px;
    color: #A3A3A3;
    text-align: center;
    position: relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: ""; /*^*/
    position: absolute;
    right: 0px; /*2*/
    font-family: monospace;
    font-size: 27px;
}

input[type=number]::-webkit-inner-spin-button:before {
    top: 13px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom: -54px;
    -webkit-transform: rotate(180deg);
}

.voxels {
	font-weight: bold;
	font-size: 16px;
}

.styled-select select {
   background: transparent;
   width: 30px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   padding: 0 10px;
   padding-top: 0px;
   padding-bottom: 5px;
   border-radius: 0;
   height: 20px;
   -webkit-appearance: none;
   outline: none;

}

.styled-select {
	margin: auto 5px;
	padding-top: 3px;
	width: 37px;
	height: 30px;
	border: 1px solid #ccc;
	display: inline-block;
	position: relative;
	background-color: White;
	top: 1px;
}

.title, .title:hover {
	font-size: 16px;
	color: Black;
	text-decoration: none;
	font-weight: bold;
}

.journal {
	font-size: 13px;
	font-style: italic;
	opacity: 0.8;
}

.results {
	width: 700px;
}

#data_current_coords {
	display: hidden;
}
