body {
/*  background-color: #FAF8F2; */
  margin: 0;
  margin-top: 80px;
}

.navbar-inverse {
	background-color: #940000;
	border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	color: White;
}

a, a:hover {
	color: #850000;
	text-decoration: none;
}

.results a {
	font-weight: bold;
	font-style: italic;
}

.btn-default {
	background-color: #940000;
	border-radius: 3px;
	border: none;
	color: White;
	margin-top: 15px;
	padding: 9px 22px;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
	background-color: #850000;
	color: White;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 1px;
	font-size: 14px;
	background: #D6D4D4;
	border: 1px solid #BFBFBF;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #D6D4D4;
	border: 1px solid #BFBFBF;
	box-shadow: 1px 0px 1px #616161, 0px 1px 1px #616161, -1px 0px 1px #616161, -1px 0px 1px #616161;
	font-size: 12px;
	margin-left: 1px;
	outline: none;
}

.results p {
	margin-bottom: 40px;
}

.results form {
	position: relative;
	top: -88px;
	left: 161px;
	margin-bottom: -55px;
}

.results input[type="submit"] {
	font-size: 13px;
	height: 31px;
	width: 100px;
	padding: 0;
	padding-top: 1px;
	text-align: center;
}

.newpaper .coordinate {
	height: 40px;
	width: 43px;
	text-align: center;
	margin-bottom: 20px;
	margin-right: -1px;
	outline: none;
}

#coord1 {
	margin-right: -5px;
}

.glyphicon-plus {
	position: relative;
	left: 17px;
	top: 2px;
	font-size: 18px;
	opacity: 0.4;
}

.glyphicon-plus:hover {
	opacity: 0.6;
}

.newpaper .margintop {
	margin-top: 30px;
}

.profile table {
	border-collapse:separate;
	border-spacing: 0 15px;
}

.profile table tr {
	background-color: White;
}

.profile table td {
	padding: 10px 14px;
}

.profile .first {
	border-radius: 1px 0 0 1px;
	padding-right: 10px;
	font-weight: bold;
}

.profile .middle {
	padding-right: 0px;
}

.profile .last {
	border-radius: 0 1px 1px 0;
	margin-left: 0;
	padding-left: 0;
}

.profile #range {
	visibility: hidden;
}

.profile input[type="submit"] {
	font-size: 13px;
	height: 31px;
	width: 75px;
	padding: 0;
	padding-top: 1px;
	text-align: center;
	margin-top: -1px;
	margin-right: -3px;
	opacity: 0.6;
}

.profile input[type="submit"]:hover {
	opacity: 0.7;
}

#mninotice {
	position: relative;
	top: 77px;
	left: 455px;
	font-weight: normal;
	font-style: italic;
	font-size: 8px;
	text-align: left;
	opacity: 0.7;
}

#searchboxes {
	margin-top: 40px;
	margin-bottom: 100px;
}

.nervecell {
	position: absolute;
	top: -172px;
	left: 0;
	width: 100%;
}

.home {
	margin-top: -80px;
	padding-top: 108px;
}

.redbar {
	background-color: #940000;
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	height: 62px;
	z-index: -1;
}

.pointer { 
   width: 0; 
   height: 0;
   border-top: 13px solid White;
   border-left: 10px solid transparent; 
   border-right: 10px solid transparent;
   position: absolute;
   bottom: 29px;
   left: 500px;
   z-index: 1;
}

.about {
	margin-top: 200px;
	height: 85px;
}

#coordinatelabel {
	font-family: 'Open Sans', Arial, 'Noto Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.braingraphic {
	height: 720px;
	padding-top: 30px;
	position: relative;
	left: 120px;
}

.redbarbottom {
	background-color: #940000;
	width: 100%;
	height: 62px;
	margin-top: -15px;
	position: relative;
	left: -70px;
	z-index: 1;
}

.subabout {
	padding-left: 15px;
	width: 240px;
	position: relative;
	top: 170px;
	text-align: left;
}

.home h4, .home h5, .home h6 {
	font-family: 'Open Sans', Arial, 'Noto Sans', sans-serif;
}

.home h4 {
	font-size: 30px;
	font-weight: 600;
}

.home h5, .home h6 {
	line-height: 35px;
}

.home h6 {
	padding-right: 30px;
	font-style: italic;
	font-size: 14px;
	margin-top: 40px;
	width: 260px;
}

.results a {
	padding: 35px;
}

@media(max-width: 1200px) {

	#searchboxes {
		position: relative;
		top: -220px;
		right: 160px;
	}

	#mninotice {
		display: none;
	}
}

@media(max-width: 991px) {

	#searchboxes {
		position: relative;
		top: -220px;
		left: 55px;
	}
}

@media(max-width: 725px) {

	#searchboxes {
		position: relative;
		top: 80px;
		left: 55px;
		float: left;
	}

	#view_sagittal {
		position: relative;
		bottom: 0px;
	}
}

@media(max-width: 624px) {

	#view_sagittal {
		margin-top: 40px;
	}
}


